



.headersss {
    padding: 20px;
    text-align: center;
    background: rgb(241, 114, 184);
  }

  .headersss h1 {
    font-size: 30px;
  }

  
  .topnavsss {
    overflow: hidden;
    background-color: rgb(119, 78, 78);
  }

  
div.stickyss {
  position: sticky;
  top: 0;
  padding: 0;
  border: 2px solid #8461d4;

}




  
.header1ss {
  padding: 20px;
  text-align: center;
  background: rgb(117, 110, 114);
}



  .button {
    background-color: #d11313; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: relative;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    position:center;
    cursor: pointer;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    }
    
    
    
    th, td {
    text-align: left;
    padding: 20px;
    }
  

 